using '../main.bicep'

param workloadName = 'aivaluehub'
param environment = 'prod'
param location = 'eastus2'
param apiImage = 'contoso.azurecr.io/ai-value-hub-api:1.0.0'
param webImage = 'contoso.azurecr.io/ai-value-hub-web:1.0.0'
param entraTenantId = '00000000-0000-0000-0000-000000000000'
param entraClientId = '00000000-0000-0000-0000-000000000000'
param entraAudience = 'api://00000000-0000-0000-0000-000000000000'
param registryServer = 'contoso.azurecr.io'
param registryName = 'contoso'
param registryResourceGroupName = 'rg-shared-container-registry'
param registrySubscriptionId = '00000000-0000-0000-0000-000000000000'
param tags = {
  owner: 'cloud-platform@contoso.com'
  costCenter: 'CC-0000'
  dataClassification: 'confidential'
}
